header{
    background-color:#1F1F1F;
    color:#797979;
}
h1,h3{
    text-align:center;
 }   
.pe{
    display:flex;
    justify-content:space-around;
}
.pust{
    display:flex;
    justify-content:flex-start;
 }
