body{
    margin: 0;
    padding: 0;
}
main {
    padding: 0;
    margin: 0;
}
header{
    background-color:#1F1F1F;
    color:#797979;
    margin:0;
}
header p{
    font-size:20px;
}
footer{ 
    padding:20px;
}
h1,h3{
    text-align:center;
 }   
.pe{
    display:flex;
    justify-content:space-around;
}
.pust{
    display:flex;
    justify-content:flex-start;
    flex-direction: column; 
 }
.odi{
    display:flex;
    justify-content:flex-end;
    flex-direction: column; 
}    
.istin{
    display:flex;
    justify-content:center;
    flex-direction: column; 
 }
.otc{
    display:flex;
    justify-content:space-between;
}
.bem{
    display:flex;
    justify-content:space-around;
    flex-wrap : wrap ;
}
a{
    text-decoration:none;
    color:#797979;
}   
p,h3 {
    color:#797979;
}
footer{
    background-color:#1F1F1F;
    margin:0;
}
.pusto{
        background-image:url('https://oir.mobi/uploads/posts/2021-03/1616963578_18-p-serii-fon-20.jpg');
        margin: 0;
}
.odin{
        margin: 0;
        display:flex;
        background-image:url('https://mobimg.b-cdn.net/v3/fetch/c8/c84afe72a0f7e05c4dc944e5beac9613.jpeg');
}
.istina{
        background-image:url('https://krot.info/uploads/posts/2021-01/1611766274_45-p-studiinii-serii-fon-46.jpg');
        margin: 0;
}
.otch{
        margin: 0;
        background-image:url('https://funart.pro/uploads/posts/2021-04/1618506633_45-funart_pro-p-oboi-fon-tyomno-serii-fon-46.jpg');
}
.bessm{
        margin: 0;
        background-image:url('https://phonoteka.org/uploads/posts/2021-06/1624473166_20-phonoteka_org-p-oboi-grafit-krasivo-22.jpg');
}
