header{
    background-color:#1F1F1F;
    color:#797979;
}
h1,h3{
    text-align:center;
 }   
.pe{
    display:flex;
    justify-content:space-around;
}
.pust{
    display:flex;
    justify-content:flex-start;
 }
.odi{
    display:flex;
    justify-content:flex-end;
}    
.istin{
    display:flex;
    justify-content:center;
 }
.otc{
    display:flex;
    justify-content:space-between;
}
.bem{
    display:flex;
    justify-content:space-around;
    flex-wrap : wrap ;
}
a{
    text-decoration:none;
    color:#797979
}   
footer{
    background-color:#1F1F1F;
}
.pusto{
    background-imege:url('https://oir.mobi/uploads/posts/2021-03/1616963578_18-p-serii-fon-20.jpg');
}
.odin{
    background-image:url('https://mobimg.b-cdn.net/v3/fetch/c8/c84afe72a0f7e05c4dc944e5beac9613.jpeg');
}
